# R script you don't want tracked
accs_analysis.R

# outputs / tables
correlation plot.png
correlation_table.doc
linear_regression_table.doc

# Word temporary file (always safe to ignore these)
~$*.doc
.Rproj.user/
# RStudio files
.Rproj.user/
.Rproj.user

# R project file
Thesis data analysis.Rproj

# analysis script you don't want tracked
accs_analysis.R

# output / Word files
linear_regression_table.doc

# Word temporary files
~$*
